<!DOCTYPE html>
@{
    var cadena = Context.IsDebuggingEnabled ? "/" : Url.Content("~/");
}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title - Clinica Ricardo Palma</title>

    <!--Styles.Render("~/Content/css")
    Scripts.Render("~/bundles/modernizr")-->
    <link href="~/Content/wickedpicker.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/style_bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/style_bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/style_bootstrap/css/Style.css" />
    <link rel="stylesheet" type="text/css" href="~/style_bootstrap/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/style_bootstrap/css/suscribete.css"  />
    <link href="~/Content/easyui.css" rel="stylesheet" />
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/styleDatetimepicker.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

    <!--<script src="~/style_bootstrap/js/jquery-1.12.0.min.js"></script>-->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/style_bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/wickedpicker.js"></script>
    <script src="~/Scripts/jqueryuiDatetimepicker.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/General.js"></script>
    <script>
        var globalRutaServidor = '@cadena';
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><img src="~/images/logo.jpg" alt="Logo" class="img-responsive" /></div>
                <div class="col-md-3 top_tel">
                    <i class="fa fa-envelope"></i>
                    <span class="botton_tel">&nbsp;clinica@clinicaricardopalma.pe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span>
                </div>
                <div class="top_tel">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <nav class="linea_top">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="bottom_menu">
                        <li>
                            <!--<a href="default.html">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INICIO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>-->
                            @Html.ActionLink("INICIO", "Index", "Home")
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GESTI&Oacute;N DE LOG&Iacute;STICA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Orden de Compra", "Index", "OrdenCompra")</li>
                                <li>@Html.ActionLink("Licitación", "Index", "Licitacion")</li>
                                <li>@Html.ActionLink("Convocatoria", "Index", "Convocatoria")</li>
                                <li>@Html.ActionLink("Postulante", "RegistrarPostulante", "Postulante")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NOSOTROS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                                <li><a href="#">Nuestra Visión</a></li>
                                <li><a href="#">Nuestra Fortaleza</a></li>
                                <li><a href="#">Valores</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GESTI&Oacute;N DE SEGUROS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Solicitud de requerimiento", "Index", "GS_SRS")</li>
                                <li>@Html.ActionLink("Trama", "GenerarTrama", "GS_TRAMA")</li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clinica Ricardo Palma</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("body").append("<div class='scrollup'><i class='fa fa-angle-up fa-1x colorf'></i></div>");
            $(window).scroll(function () {
                if ($(this).scrollTop() > 120) $('.scrollup').fadeIn();
                else $('.scrollup').fadeOut();
            });
            $(document).on("click", ".scrollup", function (e) {
                e.preventDefault();
                $("html, body").stop().animate({ scrollTop: 0 }, "slow");
            });
        });
    </script>
    <div class="scrollup" style="display: none;"></div>
</body>

</html>