@model DattatecPanel.Models.Entidades.Convocatoria
@{
    ViewBag.Title = "Nuevo";
}
@if (Model == null)
{
    <h2>Nuevo</h2>
}
else
{
    <h2>Actualizar</h2>
}

<form id="frmNuevoConvocatoria">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        @Html.HiddenFor(model => model.Convocatoriaid, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.Numero, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        @Html.LabelFor(model => model.FechaInicio, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control date" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        @Html.LabelFor(model => model.FechaFin, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control date" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model == null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                    <div class="col-sm-12">
                        <div class="col-sm-4" style="padding: 0px">
                            @Html.LabelFor(model => model.RubroID, new { @class = "control-label obligatorio" })
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.RubroID, new SelectList(ViewBag.Rubros, "RubroID", "Descripcion"), new { @data_width = "100%", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                    <div class="col-sm-12">
                        <div class="col-sm-4" style="padding: 0px">
                            @Html.LabelFor(model => model.EmpleadoID, new { @class = "control-label obligatorio" })
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.EmpleadoID, new SelectList(ViewBag.Solicitantes, "EmpleadoID", "NombreCompleto"), new { @data_width = "100%", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmpleadoID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                    <div class="col-sm-12">
                        <div class="col-sm-4" style="padding: 0px">
                            @Html.LabelFor(model => model.Requisito, new { @class = "control-label" })
                        </div>
                        <div class="col-sm-8">
                            <input type="file" id="RequisitoFile" name="RequisitoFile" class="file" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                    <div class="col-sm-12">
                        <div class="col-sm-4" style="padding: 0px">
                            @Html.LabelFor(model => model.RubroID, new { @class = "control-label obligatorio" })
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.RubroID, new SelectList(ViewBag.Rubros, "RubroID", "Descripcion"), new { @data_width = "100%", @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6" style="padding: 0px 0px 5px 0px">
                    <div class="col-sm-12">
                        <div class="col-sm-4" style="padding: 0px">
                            @Html.LabelFor(model => model.EmpleadoID, new { @class = "control-label obligatorio" })
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.EmpleadoID, new SelectList(ViewBag.Solicitantes, "EmpleadoID", "NombreCompleto"), new { @data_width = "100%", @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.EmpleadoID, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Requisito, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4" style="padding: 0px 0px 5px 0px">
            </div>
            <div class="col-sm-4" style="padding: 0px 0px 5px 0px">
            </div>
            <div class="col-sm-4" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        <a href="@Url.Action("Index", "Convocatoria" )" class="btn btn-primary" style="color: white;"><span class="glyphicon glyphicon-circle-arrow-left" id="btnCancelar"></span> Cancelar</a>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
@section scripts{
    <script>
        var suspender = false;
        var convocatoria = $("#Convocatoriaid").val();
        if (convocatoria == "") {
            $("#Numero").val('@ViewBag.NuevoNumeroConvocatoria');
            var currentdate = new Date();

            $('#FechaInicio').val($.datepicker.formatDate('dd/m/yy', currentdate));
            currentdate.setDate(currentdate.getDate() + 30);
            $('#FechaFin').val($.datepicker.formatDate('dd/m/yy', currentdate));
        } else {
            $('#RubroID option:not(:selected)').attr('disabled', true);
            $('#EmpleadoID option:not(:selected)').attr('disabled', true);
        }
    </script>
    <script src="~/Scripts/Convocatoria/Nuevo.js"></script>
}