@model DattatecPanel.Models.OrdenCompra

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Orden de Compra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrdenCompraID)
        <div class="form-group">
            @Html.LabelFor(model => model.TransaccionCompra.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TransaccionCompra.Numero, new { @class = "form-control text-box single-line", disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cotizacion.Proveedor.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Cotizacion.Proveedor.RazonSocial, new { @class = "form-control text-box single-line", disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TransaccionCompra.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TransaccionCompra.Fecha, new { @class = "form-control text-box single-line", disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cotizacion.RequerimientoCompra.Solicitante.Area.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Cotizacion.RequerimientoCompra.Solicitante.Area.Descripcion, new { @class = "form-control text-box single-line", disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Solicitante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Cotizacion.RequerimientoCompra.Solicitante.NombreCompleto, new { @class = "form-control text-box single-line", disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Almacen.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Almacen.Direccion, new { @class = "form-control text-box single-line", disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FechaEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    @Html.ActionLink("Imprimir en PDF", "ObtenerReporte", new { id = "PDF", idOC = Model.OrdenCompraID }, htmlAttributes: new { @class = "btn btn-primary" })
                    @*Html.ActionLink("Imprimir en Excel", "ObtenerReporte", new { id = "Excel", idOC = Model.OrdenCompraID }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Imprimir en Word", "ObtenerReporte", new { id = "Word", idOC = Model.OrdenCompraID }, htmlAttributes: new { @class = "btn btn-primary" })*@
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>Item</th>
                <th>Producto</th>
                <th style="text-align: right;">Cantidad</th>
                <th style="text-align: right;">P. Venta</th>
                <th style="text-align: right;">Total</th>
            </tr>

            @foreach (var item in Model.lstDetalle)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DetalleTransaccionCompraID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
                    </td>
                    <td style="text-align: right;">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td style="text-align: right;">
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td style="text-align: right;">
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </table>
    </div>
}
<p>
    @Html.ActionLink("Regresar", "Index", "OrdenCompra", htmlAttributes: new { @Style = "font-size: 16px" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}