@model DattatecPanel.Models.Hosting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hosting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecActualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecActualiza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecVence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecVence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.espacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.espacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certificadoSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificadoSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecCreaSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecCreaSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecActualizaSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecActualizaSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecVenceSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecVenceSSL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
