@model DattatecPanel.Models.PostulanteView

<!DOCTYPE html>

@using (Html.BeginForm("NuevoPostulante", "Postular", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <br /><br />
    <div class="panel">

        <div class="form-group col-sm-4">
            <div>
                @Html.HiddenFor(model => model.Convocatoria.Convocatoriaid, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Convocatoria</span>
                    @Html.EditorFor(model => model.Convocatoria.Convocatoriaid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Convocatoria.Convocatoriaid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                @Html.HiddenFor(model => model.Convocatoria.Convocatoriaid, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Requisitos</span>
                    @Html.EditorFor(model => model.Convocatoria.Convocatoriaid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Convocatoria.Convocatoriaid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <div>
                @Html.HiddenFor(model => model.Convocatoria.RubroID, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Rubro</span>
                    @Html.DropDownList("RubroID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Convocatoria.RubroID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel">
        <div class="form-group col-sm-4">
            <div>
                @Html.HiddenFor(model => model.Postulante.RUC, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">RUC</span>
                    @Html.EditorFor(model => model.Postulante.RUC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Postulante.RUC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                @Html.HiddenFor(model => model.Postulante.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Razón Social</span>
                    @Html.EditorFor(model => model.Postulante.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Postulante.RazonSocial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                @Html.HiddenFor(model => model.Postulante.Correo, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Correo Electrónico</span>
                    @Html.EditorFor(model => model.Postulante.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Postulante.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group col-sm-4">


            <div>
                @Html.HiddenFor(model => model.Postulante.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Dirección</span>
                    @Html.EditorFor(model => model.Postulante.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Postulante.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                @Html.HiddenFor(model => model.Postulante.ConstanciaRNP, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">Tiene RNP</span>
                    @Html.CheckBoxFor(model => model.Postulante.ConstanciaRNP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Postulante.ConstanciaRNP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Agregar Documento", "AddDocumento", new { }, new { @class = "btn btn-default" }) |
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    <br />
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nombre Archivo</th>
        </tr>

        @for (int i = 0; i < Model.DetallePostulantes.Count; i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.DetallePostulantes[i].DetalleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.DetallePostulantes[i].NombreArchivo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.DetallePostulantes[i].DetalleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.DetallePostulantes[i].DetalleId })
            </td>
        </tr>
        }
    </table>

}